@model SessionModel;
@{
    ViewData["Title"] = "Configurações";
}
<div class="d-flex gap-3">
    <div class="block u-card shadow_ d-grid" style="padding: 1.28rem 1.71rem; max-width: 300px">
        <div class="row">
            <div class="icon-circle col-sm-1" style="color: black; align-self: center;">
                <i class="fa-solid fa-key"></i>
            </div>
            <div class="col">
                <span>Alterar senha</span>
                <a class="btn btn-primary w-100" asp-controller="Senha" asp-action="Index">Alterar</a>
            </div>
        </div>
    </div>
    @if (Model.Usuario.Dono)
    {
        <div class="block u-card shadow_ d-grid" style="padding: 1.28rem 1.71rem;">
            <div class="row">
                <div class="icon-circle col-sm-1" style="color: black; align-self: center;">
                    <i class="fa-solid fa-ban"></i>
                </div>
                <div class="col">
                    <span>Desativar empresa</span>
                    <button class="btn btn-primary w-100" onclick="Desativar(@Model.Usuario.EmpresaId)"
                        data-toggle="tooltip"
                        title="Essa ação irá desativar a empresa e a conta de todos os usuários vinculados a ela, não é reversível">Desativar</button>
                </div>
            </div>

        </div>
    }
</div>

<script>
    function Desativar(id) {
        var confirma = confirm("Tem certeza que deseja desativar a conta, você será deslogado em seguida");

        if (confirma == true) {
            fetch(`/Empresa/DesativarConta/?id=${id}`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.status == 500) {
                    alert("Algo deu errado tente novamente mais tarde");
                }
            });
        }
    }
</script>

<style>
    .u-card {
        min-width: 300px;
    }
</style>