@using ServicoInWeb.ViewModels
@model CriarServicoViewModel
@{
    ViewData["Title"] = "Criar Serviço";
}
<div class="form-base">
    <form asp-action="CriarServico" asp-controller="Servico" method="post">
        <div>
            <h5 class="text-sm-center">Iniciar um novo Serviço</h5>
            @if (TempData["MensagemError"] is not null)
            {
                <div class="text-lg-start text-danger">
                    <p class="text-center">@TempData["MensagemError"]</p>
                </div>
            }
            @if (TempData["Sucesso"] is not null)
            {
                <div class="text-lg-start text-success">
                    <p class="text-center">@TempData["Sucesso"]</p>
                </div>
                <script>
                    setTimeout(function () {
                        window.location.href = "/Servico/Index";
                    }, 5000);
                </script>
            }
            <div class="col-lg-12">
                <label class="form-label" for="">Nome Completo*</label>
                <input type="text" asp-for="Nome" class="form-control">
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Nome)</span>
            </div>
            <div class="col-lg-12">
                <label class="form-label" for="">Descrição</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="col-lg-12">
                <label class="form-label" for="">Custos</label>
                <input type="number" value="0" asp-for="Custos" class="form-control">
            </div>
            <div class="col-lg-12">
                <label class="form-label" for="">Orçamento Inicial</label>
                <input type="number" value="0" asp-for="OrcamentoInicial" class="form-control">
            </div>

            <div class="diviser" style="color: #f7f7f7;"><hr></div>
            <div>
                <button class="btn btn-primary" type="submit">Iniciar</button>
            </div>
        </div>
    </form>
</div>
