html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Times New Roman;
    margin-bottom: 60px;
}

.form-base {
    display: grid;
    padding: 10px 50px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border: hidden 1px;
    border-radius: 40px;
    background-color: #f7f7f7;
}

.form-control {
    width: 100%;
    border-radius: 10px;
}

.form-label {
    margin-left: 5px;
    margin-bottom: 0;
}

.btn {
    margin-bottom: 5px;
    border-radius: 10px;
}