@model LoginViewModel
@{
}
<div>
    <form asp-action="Index" asp-controller="Login" method="post">
        <div>
            <label for="">Email</label>
            <input type="text" asp-for="Email">
            <span asp-validation-for="Email" class=""></span>
        </div>
        <div>
            <label for="">Senha</label>
            <input type="password" asp-for="Password">
            <span asp-validation-for="Password" class=""></span>
        </div>
        <span>@Model?.Mensagem</span>
        <button class="btn btn-success" type="submit">Entrar</button>

    </form>
</div>