@using ServicoInWeb.ViewModels
@model LoginViewModel
@{
    Layout = "_layout_Login";
    ViewData["Title"] = "Login";
}
<div class="form-base">
    <form asp-action="Index" asp-controller="Login" method="post">
        <div>
            <h2 class="text-sm-center login-title">Login</h2>
            @if (TempData["MensagemError"] is not null)
            {
                <div class="text-lg-start text-danger">
                    <p class="text-center">@TempData["MensagemError"]</p>
                </div>
            }
            <div class="col-lg-12">
                <label class="form-label" for="">Email</label>
                <input type="text" asp-for="Email" class="form-control" placeholder="mail@mail.com">
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Email)</span>
            </div>
            <div class="col-lg-12">
                <label class="form-label" for="">Senha</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Sua senha">
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Password)</span>
            </div>
        </div>

        <div class="d-grid">
            <button class="btn btn-primary btn-login" type="submit">Entrar</button>
            <p class="text-center">Não tem conta? <a asp-action="CreateAccount" asp-controller="Login" class="text-end">Cadastro</a></p>
        </div>
    </form>
</div>
<style>
    .diviser hr{
        color: #f7f7f7;
    }
</style>